<!DOCTYPE html>
<html>
	<head>
		{include file="common/meta" /}
	</head>
	<body>
		{include file="common/head" /}
		<div class="inTop">
			<div class="address mt20">
				<div class="contain address1">
					<a href="/">ホーム</a>
					&gt;
					<a href="/news/"> お知らせ</a>
					&gt;
					<a href="javascript:;"> {$news['title']}</a>
				</div>
			</div>
			<div class="inTop1">
				お知らせ
			</div>
		</div>
		<div class="sknews">
			<div class="contain">
				<div class="sknews1">
					<div class="sknews5">
						{$news['createtime']|date='Y-m-d',###}
					</div>
					<div class="newsDeta">
						{$news['title']}
					</div>
					<div class="newsDeta1">
						{$news['content']}
					</div>
				</div>
			</div>
		</div>
		
		
		{include file="common/foot" /}
		
	</body>
</html>
