<div class="nav">
	<ul>
		<li>
			<a href="/">ホーム</a>
		</li>
		<li>
			<a href="/goods">
				商品一覧
				<img class="arrowa" src="/img/arrowa.png" alt="" />
				<img class="arrow" src="/img/arrow.png" alt="" />
			</a>
			<div class="nav_sub">
			{volist name="goodsCategoryTree" id="item"}
				<div class="nav_sub1">
					<a href="/goods/{$item['id']}">
						<span>{$item['name']}</span>
						
						{if !empty($item['children'])}
						<img class="arrowa" src="/img/arrow1a.png" alt="" />
						<img class="arrow" src="/img/arrow1.png" alt="" />
						{/if}
					</a>
					<div class="nav_sub2">
					{if !empty($item['children'])}
					{volist name="item['children']" id="item2"}
						<div class="nav_sub1">
							<a href="/goods/{$item['id']}/{$item2['id']}">
								<span>{$item2['name']}</span>
								
							{if !empty($item2['children'])}
								<img class="arrowa" src="/img/arrow1a.png" alt="" />
								<img class="arrow" src="/img/arrow1.png" alt="" />
							{/if}
							</a>
						{if !empty($item2['children'])}
							<div class="nav_sub2">
								<div class="nav_sub3">
								{volist name="item2['children']" id="item3"}
									<a href="/goods/{$item['id']}/{$item2['id']}/{$item3['id']}">
										<span>{$item3['name']}</span>
									</a>
								{/volist}
								</div>
							</div>
						{/if}
						</div>
					{/volist}
					{/if}
						
					</div>
				</div>
			{/volist}
				
			</div>
		</li>
		<li>
			<a href="/news">お知らせ</a>
		</li>
		<li>
			<a href="/shop">店舗紹介</a>
		</li>
		<li>
			<a href="/buy_way">買取方法</a>
		</li>
		<li>
			<a href="/guide">ご利用ガイド</a>
		</li>
	</ul>
</div>