<div style="width: 100%;display: inline-flex;">
    <div style="float:left;width: 40%;"> 
        <h4 style="text-align: center;">お客様の情報 </h4>
        <table class="table table-striped" >
            <!-- <thead>
            <tr>
                <th>{:__('打刻位置')}</th>
                <th>{:__('撮影画像')}</th>
                <th>{:__('時間')}</th>
            </tr>
            </thead> -->
            <tbody>
        {if $user}
            <tr>
                <th width="30%">お名前</th>
                <td>{$user['name']}</td>
            </tr>
            <tr>
                <th width="30%">メールアドレス</th>
                <td>{$user['email']}</td>
            </tr>
            <tr>
                <th width="30%">個人／法人区分</th>
                <td>{:getConfigOther('persion_type_list', $user['persion_type'])}</td>
            </tr>
            <tr>
                <th width="30%">電話番号</th>
                <td>{$user['mobile']}</td>
            </tr>
            <tr>
                <th width="30%">ご住所</th>
                <td>{$user['address']}</td>
            </tr>
            <tr>
                <th width="30%">生年月日</th>
                <td>{$user['birthday']}</td>
            </tr>
            <tr>
                <th width="30%">職業</th>
                <td>{:getCategoryName($user['occupation'])}</td>
            </tr>
            <tr>
                <th width="30%">本人確認書類種別</th>
                <td>{:getCategoryName($user['szb'])}</td>
            </tr>
        {else /}
            データがありません
        {/if}  

            </tbody>
        </table>
        <h4 style="text-align: center;">本人確認書類アップロード </h4>
        <div>
            {volist name="$user['szb_image']" id="item"}
                <img src="{$item}" width="150">
            {/volist}
        </div>  
    </div>
    <div style="float:left;width: 30%;margin-left: 20px;">
    
        <h4 style="text-align: center;">&nbsp;</h4>
        <table class="table table-striped" >
            <tbody>
                <tr>
                    <th width="50%">お支払い方法</th>
                    <td>{:getConfigOther('pay_mode_list', $row['pay_mode'])}</td>
                </tr>
            {if $row['pay_mode'] == 2}
                <tr>
                    <th width="50%">銀行</th>
                    <td>{$row['bank']}</td>
                </tr>
                <tr>
                    <th width="50%">支店</th>
                    <td>{$row['bank_branch']}</td>
                </tr>
                <tr>
                    <th width="50%">預金種目</th>
                    <td>{:getConfigOther('bank_account_type', $row['bank_account_type'])}</td>
                </tr>
                <tr>
                    <th width="50%">振込口座番号</th>
                    <td>{$row['bank_account']}</td>
                </tr>
                <tr>
                    <th width="50%">振込口座名義</th>
                    <td>{$row['bank_account_name']}</td>
                </tr>
            {/if}
            </tbody>
        </table>
        
        <h4 style="text-align: center;">合計</h4>
        <table class="table table-striped" >
      
            <tbody>
            <tr>
                <th width="40%">商品価格</th>
                <td>
                {$row['price']}
                </td>
            </tr>
            <tr>
                <th width="40%">全</th>
                <td>
                {$row['total_price']}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {if $is_pdf == false}
    <div style="float:right;width: 15%;margin-left: 20px;">
        <h4 style="text-align: center;">注文ステータス</h4>
        <div class="edit_status_box" data-id="{$row['id']}">
        {volist name="orderAdminStatusList" id="item"}
            <div>
                <label for="row[admin_status]-{$item['value']}">
                <input id="row[admin_status]-{$item['value']}" class="edit_status" name="row[admin_status]" type="radio" value="{$item['value']}" {in name="$item['value']"  value="$row['admin_status']"}checked{/in} /> {$item['name']}</label> 
            </div>
        {/volist}
        </div>
    </div>
    {/if}
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th width="20%">{:__('商品名')}</th>
        <!-- <th>{:__('備考')}</th> -->
        <th>{:__('商品画像')}</th>
        <th>{:__('商品仕様')}</th>
        <th>{:__('数')}</th>
        <th>{:__('単価')}</th>
        <!-- <th>{:__('タイプ')}</th> -->
    </tr>
    </thead>
    <tbody>
{volist name="order_details" id="item"}
    <tr>
        <td>{$item['title']}</td>
        <!-- <td>{$item['memo']}</td> -->
        <td><img src="{$item['image']}" width="100"></td>
        <td>{$item['color']}<br>{$item['specs_name']}</td>
        <td>{$item['num']}</td>
        <td>{$item['price']}</td>
        <!-- <td>{:getConfigOther('goods_type', $item['type'])}</td> -->
    </tr>
  {/volist}

   


    {if $Think.get.dialog}

    {/if}
    </tbody>
</table>

<div style="width: 100%;display: inline-flex;">
    <div style="float:left;width: 50%;"> 
        
        
    </div>
    
</div>

<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
        <button type="button" class="btn btn-success edit_order_details" data-type="1" data-id="{$row['id']}">{:__('商品明細を編集')}</button>
        <button type="button" class="btn btn-success edit_order_memo" data-id="{$row['id']}">{:__('備考')}</button>
        <a href="{:url('order/pdfFile?ids='.$row['id'])}" class="btn btn-success" target="_blank" data-id="{$row['id']}">{:__('エクスポートpdf')}</a>
    </div>
</div>
