<!DOCTYPE html>
<html>
	<head>
		{include file="common/meta" /}
	</head>
	<body>
		{include file="common/head" /}
		<div class="cart">
			<div class="pd150 contain">
				<div class="address1">
					<a href="/">ホーム</a>
					&gt;
					<a href=""> 申し込み完了</a>
				</div>
				<div class="sqwc">
					<span>申し込み完了</span>
				</div>
				<div class="sqwc1">
					お申し込み手続きは完了しました。<br />
					ご利用いただきありがとうございました。<br />
					お申し込みを確認後、メールでご連絡いたします。<br />
					または、営業時間内に当社までお問い合わせください。<br />
					お申し込みの受付状況および詳細内容は、当サイトのページでご確認いただけます。
				</div>
				<div class="sqwc">
					<span>今後の流れ</span>
				</div>
				<div class="sqwc2">
					申請認定の通知<br />
					郵送または来店<br />
					査定<br />
					入金
				</div>
			</div>
		</div>
		
		{include file="common/foot" /}
		
	</body>
</html>
