<!DOCTYPE html>
<html>
	<head>
		{include file="common/meta" /}
	</head>
	<body>
		{include file="common/head" /}
		<div class="inTop">
			<div class="address mt20">
				<div class="contain address1">
					<a href="/">ホーム</a>
					&gt;
					<a href=""> マイページ</a>
				</div>
			</div>
			<div class="inTop1">
				マイページ
			</div>
		</div>
		<div class="reItemz">
		    {include file="common/user_nav" /}
		</div>
		<div class="record">
		    <div class="contain">
		    {volist name="list" id="item"}
				<div class="record1" data-id="{$item['id']}">
					<div class="record2">
						<div class="record3">
							<ul>
								<li class="rWidth">
									お申込み日時<br>
									{$item['createtime']|date='Y/m/d',###}
								</li>
								<li class="rWidth1">
									商品品名
								</li>
								<li class="rWidth2">
									数量
								</li>
								<li class="rWidth3">
									金額
								</li>
							</ul>
						</div>
					{volist name="item['details']" id="item2"}
						<div class="record4">
							<ul>
								<li class="rWidth">
									<div class="record5">
										<img alt="" src="{$item2['image']}">
									</div>
								</li>
								<li class="rWidth1">
									<div class="record6">
										<div class="record6a">
											{$item2['title']}
										</div>
										<div class="record6b">
											<!-- JAN : {$item2['goods']['jan'] ?? ''}<br> -->
											<!-- 状態 : {$item['type'] == 1 ? '新品' : '中古'}<br> -->
											{$item2['color']}<br>
											{$item2['specs_name']}<br>
										</div>
									</div>
		                        </li>
								<li class="rWidth2">
									{$item2['num']}
								</li>
								<li class="rWidth3">
									￥{$item2['price']}<span>（税込）</span>
								</li>
							</ul>
						</div>
					{/volist}
					{if $item['type'] == 1}
						<div class="record8">
							<div class="record8a">
								<img src="/img/ddicon.png" alt="" />
								店頭買取： <span> {$item['store_name']}</span>
							</div>
						</div>
					{/if}
						<div class="record7">
							<span>ご予約番号：{$item['no']}</span>
							<code>合計金額：￥{$item['total_price']}(税込)</code>
						</div>
						<div class="record8">
							<div class="record8a">
								<img src="/img/ddicon1.png" alt="" />
								{$item['status_text']}
							</div>
							<div class="record8b">
							{if $item['show_cancel'] == 1}
								<a class="cancle" href="javascript:;">キャンセル</a>
							{/if}
								<a href="/ylindex/{$item['id']}" target="_blank">買取申込書</a> 
								<a href="/odetails/{$item['id']}">詳しく見る</a>
							</div>
						</div>
					</div>
				</div>
			{/volist}

			</div>
			<div style="padding-bottom:20px;">
				{$page}
			</div>
		</div>
		{include file="common/foot" /}
		
	</body>
</html>
